.App {
  text-align: center;
}

.HeaderTitle {
  margin: 20px;
  font-size: 2.5em;
}

.AddToDo {
  margin: 20px;
}

.ToDoFilter{
  margin: 20px;
}

.ToDoList{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToDoListItem{
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}